include ~/components/heading/heading
include ~/components/button/button

mixin dropdown(options={}, props={})
  -
    const {
      hasHeading,
      title,
      subtitle,
      value,
      name,
      placeholder,
      dataId,
      isOpened,
      size,
      withButtons,
      items=[]
    } = options

    const sizes = ['small', 'medium', 'large']

    const mainClass = 'dropdown js-dropdown'
    const inputClass = 'dropdown__input js-dropdown__input'
    const buttonClass 
      = 'dropdown__arrow-button material-icons js-dropdown__arrow-button'
    const dropClass = 'dropdown__drop js-dropdown__drop'
    const itemClass = 'dropdown__item js-dropdown__item'
    const itemNameClass = 'dropdown__item-name js-dropdown__item-name'

    const openModifier = isOpened && 'dropdown--opened'
    const sizeModifier = sizes.includes(size) && `dropdown--size-${size}`

  div&attributes({
    class: [
      mainClass,
      sizeModifier,
      openModifier
    ],
    'data-id': dataId,
    'data-props': props,
  })
    if (hasHeading)
      .dropdown__heading
        +heading({
          title: title,
          titleType: 'h3',
          titleColor: 'dark-shade-100',
          titleBold: true,
          titleHasUpper: true,
          subtitle: subtitle,
          subtitleType: 'h3',
          subtitleColor: 'dark-shade-50',
          subtitleHasUpper: true
        })
    .dropdown__wrapper
      input&attributes({
        class: inputClass,
        type: type,
        'data-type': 'input',
        value: value,
        placeholder: placeholder,
        name: name,
        readOnly: true,
      })
      button&attributes({
        class: buttonClass,
        type: 'button',
        'data-type': 'arrow',
      })='expand_more'
      div(class=dropClass)
        ul.dropdown__list
          each item in items
            li(class=itemClass data-id=item.dataId)
              p(class=itemNameClass)=item.text
              .dropdown__item-controls
                button&attributes({
                  class: [
                    'dropdown__item-button',
                    'dropdown__item-button--type-decrement',
                    'js-dropdown__item-button--type-decrement'
                  ],
                  type: 'button',
                  'data-type': 'decrement'
                })= '-'
                p(class='dropdown__item-counter js-dropdown__item-counter')=item.counter
                button&attributes({
                  class: [
                    'dropdown__item-button',
                    'dropdown__item-button--type-increment',
                    'js-dropdown__item-button--type-increment'
                  ],
                  type: 'button',
                  'data-type': 'increment'
                })= '+'
        if (withButtons)
          .dropdown__buttons
            +button({
              text: 'очистить',
              variant: 'inline',
              color: 'purple',
              classForJs: 'js-dropdown__button--clear',
              dataType: 'clear'
            })
            +button({
              text: 'применить',
              variant: 'inline',
              color: 'purple',
              classForJs: 'js-dropdown__button--apply',
              dataType: 'apply'
            })
