mixin votesChart(options)
  -
    const { legendItems } = options 
  
  .votes-chart
    .votes-chart__chart-wrapper
      svg(class='votes-chart__chart' viewBox='0 0 120 120')
        defs
          linearGradient(id='primary-gradient'  x1='1' y1='0' x2='0' y2='0')
            stop(class='primary-gradient--start' offset='0%')
            stop(class='primary-gradient--end' offset='100%')
          linearGradient(id='secondary-gradient'  x1='1' y1='0' x2='0' y2='0')
            stop(class='secondary-gradient--start' offset='0%')
            stop(class='secondary-gradient--end' offset='100%')
          linearGradient(id='yellow-gradient'  x1='1' y1='0' x2='0' y2='0')
            stop(class='yellow-gradient--start' offset='0%')
            stop(class='yellow-gradient--end' offset='100%')
          linearGradient(id='black-gradient'  x1='1' y1='0' x2='0' y2='0')
            stop(class='black-gradient--start' offset='0%')
            stop(class='black-gradient--end' offset='100%')
        circle(class='votes-chart__chart-item js-chart-item-votes-perfectly' cx='50%' cy='50%' r='58' stroke-width='4' stroke='url(#yellow-gradient)' stroke-dasharray='88, 364' stroke-dashoffset='-275')
        circle(class='votes-chart__chart-item js-chart-item-votes-well' cx='50%' cy='50%' r='58' stroke-width='4' stroke='url(#secondary-gradient)' stroke-dasharray='88, 364' stroke-dashoffset='-2')
        circle(class='votes-chart__chart-item js-chart-item-votes-satisfactory' cx='50%' cy='50%' r='58' stroke-width='4' stroke='url(#primary-gradient)' stroke-dasharray='178, 364' stroke-dashoffset='-94')
        circle(class='votes-chart__chart-item js-chart-item-votes-disappointed' cx='50%' cy='50%' r='58' stroke-width='4' stroke='url(#black-gradient)' stroke-dasharray='0, 364' stroke-dashoffset='0')
      .votes-chart__chart-votes-wrapper.js-chart-votes-wrapper
        h1.votes-chart__chart-votes-count.js-chart-votes-count='260'
        h3.votes-chart__chart-votes-text.js-chart-votes-text='голосов'
    .votes-chart__legend
      ul.votes-chart__legend-list 
        each legendItem in legendItems 
          -
            const { text, itemModifier, classForJs } = legendItem

            let legendItemClass = 'votes-chart__legend-item'

            if (itemModifier) {
              legendItemClass += ` votes-chart__legend-item--${itemModifier}`
            }

            if (classForJs) {
              legendItemClass += ` ${classForJs}`
            }
            
          li(class=legendItemClass)=text
          
