mixin button(options)
  -
    const {
      text,
      type,
      variant,
      disabled,
      link,
      size,
      color,
      withArrow,
      dataType,
      classForJs
    } = options

    const sizes = ['large', 'medium', 'small']
    const colors = ['purple', 'gray', 'white']

    const mainClass = 'button'
    const buttonTag = link ? 'a' : 'button'
    const buttonWithArrowModifier = withArrow && 'button--with-arrow'
    const buttonInlineModifier
      = variant === 'inline' && `button--variant-${variant}`
    const buttonOutlinedModifier
      = variant === 'outlined' && `button__inner--fill-white`
    const buttonSizeModifier
      = sizes.includes(size) && `button--size-${size}`
    const sizeModifier
      = sizes.includes(size) && `button__inner--size-${size}`
    const colorModifier
      = colors.includes(color) && `button__inner--text-${color}`

    const attrs = {
      button: {
        class: [
          mainClass,
          buttonInlineModifier,
          buttonWithArrowModifier,
          buttonSizeModifier,
          classForJs
        ],
        type: type,
        disabled: disabled,
        'data-type': dataType
      },
      a: {
        class: [
          mainClass,
          buttonInlineModifier,
          buttonWithArrowModifier,
          buttonSizeModifier,
        ],
        href: link
      }
    }

  #{buttonTag}&attributes(attrs[buttonTag])
    span(
      class=[
        'button__inner',
        sizeModifier,
        colorModifier,
        buttonOutlinedModifier
      ]
      'data-type'=dataType)=text

