mixin menu({ column, items })
  .menu
    -
      let menuListClass = 'menu-list'
      let menulistItemClass = 'menu-list__item'
      
      if (column) {
        menuListClass += ' menu-list--column'
        menulistItemClass += ' menu-list__item--column'
      }

    ul(class=menuListClass) 
      each item in items  
        -
          const { linkText, link, isActive, subMenu, subItems } = item 
          let menuLinkClass = 'menu-list__link'
          let arrowClass = 'menu-list__arrow'

          if (isActive) {
            menuLinkClass += ' menu-list__link--active'
          }

          if (subMenu) {
            arrowClass +=' material-icons'
          }

        li(class=menulistItemClass)
          if (!subMenu)
            a(class=menuLinkClass, href=link)= linkText
          else
            .menu-list__link-wrapper
              a(class=menuLinkClass, href=link)= linkText
              span(class=arrowClass)='expand_more'
          if (subMenu)
            ul.sub-menu-list 
              each subItem in subItems 
                -
                  const { subLinkText, subLink } = subItem 
                  let subMenuLinkClass = 'sub-menu-list__link'
                
                li.sub-menu-list__item 
                  a(class=subMenuLinkClass, href=subLink)= subLinkText
