mixin menu({ column, items })
  .menu
    -
      let menuListClass = 'menu__list'
      let menulistItemClass = 'menu__item' + ' js-menu__item'
      
      if (column) {
        menuListClass += ' menu__list--column'
        menulistItemClass += ' menu__item--column'
      }
    nav.menu__menu
      ul(class=menuListClass) 
        each item in items  
          -
            const { linkText, link, isActive, subMenu, subItems } = item 
            let menuLinkClass = 'menu__item-link'
            let arrowClass = 'menu__item-arrow'

            if (isActive) {
              menuLinkClass += ' menu__item-link--active'
            }

            if (subMenu) {
              arrowClass +=' material-icons'
            }

          li(class=menulistItemClass, tabindex='0')
            if (!subMenu)
              a(class=menuLinkClass, href=link, tabindex='-1')= linkText
            else
              .menu__item-link-wrapper
                a(class=menuLinkClass, href=link, tabindex='-1')= linkText
                span(class=arrowClass)='expand_more'
            if (subMenu)
              .sub-menu.js-sub-menu
                ul.sub-menu__list 
                  each subItem in subItems 
                    -
                      const { subLinkText, subLink } = subItem 
                      let subMenuLinkClass = 'sub-menu__item-link'
                    
                    li(class='sub-menu__item js-sub-menu__item', tabindex='0')
                      a(class=subMenuLinkClass, href=subLink, tabindex='-1')= subLinkText
