mixin dropdown({ text, name, withSmallSize, classForJs })
  -
    let dropdownClass = 'dropdown'
    let dropdownInputClass = 'dropdown__input' + ' dropdown__input--focused' + ' dropdown__input--hovered'
    let dropdownButtonClass = 'dropdown__button'

    if (withSmallSize) {
      dropdownClass += ' dropdown--size-small'
    }
  
  div(class=dropdownClass)
    .dropdown__title
      block 
    .dropdown__wrap
      input(class=dropdownInputClass, name=name, value=text, readonly)
      button(class=dropdownButtonClass, type='button')='expand_more'
