include ~/templates/UI-kit/text/text

mixin dropdown({ text, subtitle, value, name, placeholder, expanded, withButtons, items, withSmallSize, classForJs })
  -
    let dropdownClass = 'dropdown'
    let dropdownInputClass = 'dropdown__input' + ' dropdown__input--focused' + ' dropdown__input--hovered'
    let dropdownButtonClass = 'dropdown__button' + ' material-icons'
    let dropdownItemClass = 'dropdown-list__item' + ' text--with-type-h3'

    if (withSmallSize) {
      dropdownClass += ' dropdown--size-small'
    }

    if (classForJs) {
      dropdownClass += ` ${classForJs}`
    }

    if (expanded) {
      dropdownInputClass += ' dropdown__input--expanded'
    }
  
  div(class=dropdownClass)
    .dropdown__title
      +text({ text: text, type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
      if (subtitle)
        +text({ text: subtitle, type: 'h3', color: 'dark-shade-50', hasUpper: true })
    .dropdown__wrap
      .dropdown__dropdown-default 
        input(class=dropdownInputClass, name=name, value=value, placeholder=placeholder, readonly)
        button(class=dropdownButtonClass, type='button')='expand_more'
      if (expanded)
        .dropdown__dropdown-expanded
          ul.dropdown-list
            each item in items
              - const { itemName, itemCounter } = item

              li(class=dropdownItemClass) 
                p.dropdown-list__item-name= itemName 
                .dropdown-list__item-menu
                  button.dropdown-list__item-button.dropdown-list__item-button-decrease= '-'
                  p.dropdown-list__item-counter= itemCounter
                  button.dropdown-list__item-button.dropdown-list__item-button-increase= '+'
          if (withButtons)
            .dropdown__button-wrap 
              +button({ text: 'очистить', classForJs: 'js-dropdown-button' })
              +button({ text: 'применить', classForJs: 'js-dropdown-button' })
