include ~/components/text-field/text-field

mixin date-dropdown(options={})
  -
    const {
      type,
      dataType,
      dataTypeEnd,
      placeholder,
      name='date',
      nameEnd,
      hasArrow,
      autocomplete,
      isReadonly,
      isLowerCase,
      hasTwoInputs=false,
      demo=false,
      title,
      titleEnd,
      props
    } = options

  if demo 
    .date-dropdown.js-date-dropdown(data-props=props)
  else if hasTwoInputs
    .date-dropdown.js-date-dropdown(data-props=props)
      .date-dropdown__wrapper
        .date-dropdown__start
          +text-field({
            hasHeading: true,
            title,
            type,
            dataType,
            placeholder,
            name,
            hasArrow,
            autocomplete,
            isReadonly,
          })
        .date-dropdown__end 
          +text-field({
            hasHeading: true,
            title: titleEnd,
            type,
            dataType: dataTypeEnd,
            placeholder,
            name: nameEnd,
            hasArrow,
            autocomplete,
            isReadonly,
          })
  else
    .date-dropdown.js-date-dropdown(data-props=props)
      +text-field({
        hasHeading: true,
        title,
        type,
        dataType,
        placeholder,
        name,
        hasArrow,
        autocomplete,
        isReadonly,
        isLowerCase
      })