include ~/components/heading/heading
include ~/components/dropdown/dropdown
include ~/components/date-dropdown/date-dropdown
include ~/components/button/button

mixin booking-card(options)
  -
    const {
      luxe,
      formAction,
      formMethod
    } = options

  .booking-card.js-booking-card
    .booking-card__container
      form(class='booking-card__form' action=formAction method=formMethod)
        .booking-card__room-info
          .booking-card__room-number-details
            h1(class='booking-card__room-number')
              span.booking-card__room-number-symbol='№' 
              span.booking-card__room-number-value.js-booking-card__room-number-value='888'
            if (luxe)
              .booking-card__luxe
                +heading({ title: 'Люкс', titleType: 'h3', titleColor: 'purple', titleBold: true, titleHasUpper: true })
          .booking-card__room-price-info
            span.booking-card__room-price-value.js-booking-card__room-price-value='9 990₽'
            span.booking-card__room-price-day='в сутки'
        .booking-card__datepicker
          +date-dropdown({
            type: 'text',
            dataType: 'date-dropdown-start',
            dataTypeEnd: 'date-dropdown-end',
            placeholder: 'ДД.ММ.ГГГГ',
            name: 'date-start',
            nameEnd: 'date-end',
            hasTwoInputs: true,
            hasArrow: true,
            isReadonly: true,
            title: 'Прибытие',
            titleEnd: 'Выезд',
            props: {
              hasTwoInputs: true,
              initialDates: ['2019-08-19', '2019-08-23'],
              bookingCardParams: {
                selector: '.js-booking-card',
                roomNumber: '888',
                roomPrice: '9990₽',
                discount: '2179₽',
                additionalServicesSum: '300₽',
              },
            },
          })
        .booking-card__dropdown-guests
          +dropdown({
            hasHeading: true,
            withButtons: true,
            title: 'Гости',
            placeholder: 'Сколько гостей',
            name: 'guests',
            items: [
              { text: 'Взрослые', counter: '2', dataId: 'adults' },
              { text: 'Дети', counter: '1', dataId: 'children' },
              { text: 'Младенцы', counter: '0', dataId: 'babies' },
            ]
          },
          {
            type: 'guests',
            maxLengthItems: {
              item0: 5,
              item1: 10,
              item2: 10,
            },
            plurals: {
              guests: ['гость', 'гостя', 'гостей'],
              babies: ['младенец', 'младенца', 'младенцев'],
            },
          })
        .booking-card__calculation
          .booking-card__calculation-item
            p.booking-card__days-value.js-booking-card__days-value='9 990₽ х 4 суток'
            p.booking-card__days-sum.js-booking-card__days-sum='39 960₽'
          .booking-card__calculation-item
            p.booking-card__services-value.js-booking-card__services-value='Сбор за услуги: скидка 2 179₽'
            .booking-card__calculation-icon-wrapper
              .booking-card__calculation-icon='i'
            p.booking-card__services-sum.js-booking-card__services-sum='0₽'
          .booking-card__calculation-item
            p.booking-card__additional-services-value='Сбор за дополнительные услуги'
            .booking-card__calculation-icon-wrapper
              .booking-card__calculation-icon='i'
            p.booking-card__additional-services-sum.js-booking-card__additional-services-sum='300₽'
        .booking-card__total-price
          h2.booking-card__total-price-text='Итого'
          .booking-card__total-price-separator
          h2.booking-card__total-price-sum.js-booking-card__total-price-sum='38 081₽'
        .booking-card__booking-button
          +button({
            text: 'Забронировать',
            type: 'submit',
            variant: 'with-arrow',
            color: 'white',
            size: 'large'
          })
