mixin rateButton({ raitingName, items })
  .rate-button
    .rate-button__wrap
      each item in items
        -
          const { value, ariaLabel, isChecked } = item
          let rateInputClass = 'rate-button__input'
      
        input(class=rateInputClass, type='radio', name=raitingName, value=value, aria-label=ariaLabel, checked=isChecked)
        