mixin type(typeModifier, fontContent, fontDescriptionClass, fontDescription, last)
  if (last)
    div(class=typeModifier).type
      p.type__font=fontContent
      p(class=fontDescriptionClass)=fontDescription
  else
    div(class=typeModifier).type.type__margin.type--dark-shade-100
      p.type__font=fontContent
      p(class=fontDescriptionClass)=fontDescription

//- block type 
//- +type('type-H1', 'H1', 'type-H1__description', 'This one is the sub-section or widget title')
//- +type('type-H2', 'H2', 'type-H2__description', 'Next one is the item title inside widgets')
//- +type('type-H3', 'H3', 'type-H3__description', 'This is a label or CTA text')
//- +type('type-body', 'Body', 'type-body__description', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', true)
