mixin slider({ images = [], options = {} } = {})
  -
    const { pagination = true, navigation = true } = options

  .swiper.slider
    .swiper-wrapper.slider-wrapper
      each image in images
        .swiper-slide.slider__slide
          img(
            class='slider__img'
            src=require(`~/components/room-card/img/${image}`)
            alt='room-photo'
          )
    if (pagination)
      .swiper-pagination.slider__pagination
    if (navigation)
      div(class='swiper-button-prev slider__button material-icons')='expand_more'
      div(class='swiper-button-next slider__button material-icons')='expand_more'
