-
  let rateButtonSettings = [
    {name: 'firstRaiting', fourStars: true},
    {name: 'secondRaiting'}
  ]

mixin rate-button(rateButtonSettings)
  if (rateButtonSettings.fourStars)
    .rate-button
      .rate-button__group
        input(type='radio', name=rateButtonSettings.name, value='1' aria-label='одна звезда').rate-button__input
        input(type='radio', name=rateButtonSettings.name, value='2' aria-label='две звезды').rate-button__input
        input(type='radio', name=rateButtonSettings.name, value='3' aria-label='три звезды').rate-button__input
        input(type='radio', name=rateButtonSettings.name, value='4' aria-label='четыре звезды', checked).rate-button__input
        input(type='radio', name=rateButtonSettings.name, value='5' aria-label='пять звезд').rate-button__input
  else 
    .rate-button
      .rate-button__group
        input(type='radio', name=rateButtonSettings.name, value='1' aria-label='одна звезда').rate-button__input
        input(type='radio', name=rateButtonSettings.name, value='2' aria-label='две звезды').rate-button__input
        input(type='radio', name=rateButtonSettings.name, value='3' aria-label='три звезды').rate-button__input
        input(type='radio', name=rateButtonSettings.name, value='4' aria-label='четыре звезды').rate-button__input
        input(type='radio', name=rateButtonSettings.name, value='5' aria-label='пять звезд', checked).rate-button__input