include ~/components/text/text

mixin checkboxList(options={})
  -
    const {
      expandable,
      classForJs,
      title,
      isOpened,
      items=[]
    } = options

    const hiddenModifier = expandable && !isOpened && 'checkbox-list__list--hidden'
    const rotateModifier = expandable && isOpened && 'checkbox-list__button--rotate'

  .checkbox-list(class=classForJs)
    if (expandable)
      .checkbox-list__dropdown.js-checkbox-list__dropdown(tabindex=0)
        +text({
          text: title,
          type: 'h3',
          color: 'dark-shade-100',
          bold: true,
          hasUpper: true
        })
        button&attributes({
        class: [
          'checkbox-list__button',
          'material-icons',
          'js-checkbox-list__button',
          rotateModifier
        ],
        type: 'button'
        })='expand_more'
    else
      .checkbox-list__heading
        +text({
          text: title,
          type: 'h3',
          color: 'dark-shade-100',
          bold: true,
          hasUpper: true
        })

    ul.checkbox-list__list.js-checkbox-list__list(class=hiddenModifier)
      each item in items

        -
          const { isRich, title, description, name, isChecked } = item

          const itemRichModifier = isRich && 'checkbox-list__item--rich'

        li&attributes({
          class: [
            'checkbox-list__item',
            itemRichModifier,
          ]
        })
          label.checkbox-list__item-label
            input(class='checkbox-list__item-input' type='checkbox' name=name checked=isChecked)
            span(class=`checkbox-list__item-text`)=title
            if (isRich)
              span.checkbox-list__item-description=description
