doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form elements
  body 
    .form-elements
      include ~/pages/UI-kit/logo-colorless/logo-colorless.pug
      .form-elements-container
        .fields-buttons-container
          .fields-container
            include ~/pages/UI-kit/form-elements/text-field/text-field.pug
            .form-elements__text-field
              +text-field(true, false, false, 'text field', 'default', 'text', 'Email')
            .form-elements__text-field-focused
              +text-field(true, true, true, 'text field', 'hover / focus', 'text', 'This is pretty awesome')
            include ~/pages/UI-kit/form-elements/dropdown/dropdown.pug
            .form-elements__dropdown
              +dropdown('dropdown', 'Сколько гостей')
            include ~/pages/UI-kit/form-elements/masked-text-field/masked-text-field.pug
            .form-elements__masked-text-field 
              +masked-text-field('masked text field')
            include ~/pages/UI-kit/form-elements/date-dropdown/date-dropdown.pug
            .form-elements__date-dropdown
              +date-dropdown('date dropdown', 'ДД.ММ.ГГГГ')
              +date-dropdown('date dropdown', '19.08.2019')
            include ~/pages/UI-kit/form-elements/filter-date-dropdown/filter-date-dropdown.pug
            .form-elements__filter-date-dropdown 
              +filter-date-dropdown('filter date dropdown', '19 авг - 23 авг')
            include ~/pages/UI-kit/form-elements/subscription-text-field/subscription-text-field.pug
            .form-elements__subcription-text-field 
              +subscription-text-field('subscription text field', 'Email')
          .buttons-container
            include ~/pages/UI-kit/form-elements/checkbox-button/checkbox-button.pug
            .form-elements__checkbox-buttons
              .form-elements__checkbox-buttons-heading='checkbox buttons'
              +checkbox-button('smoke', 'Можно курить', false)
              +checkbox-button('pets', 'Можно с питомцами', true)
              +checkbox-button('guest', 'Можно пригласить гостей (до 10 человек)', true)
            include ~/pages/UI-kit/form-elements/radio-button/radio-button.pug
            .form-elements__radio-buttons
              span.form-elements__radio-button-heading='radio buttons'
              +radio-button('man', 'Мужчина', 'Мужчина', 'woman', 'Женщина', 'Женщина', true)
            include ~/pages/UI-kit/form-elements/toggle-button/toggle-button.pug
            .form-elements__toggle-buttons
              span.form-elements__toggle-buttons-heading='toggle'
              .form-elements__toggle-buttons-group
                +toggle-button('specialOfferEnabled', 'Получать спецпредложения', true)
                +toggle-button('specialOfferDisabled', 'Получать спецпредложения')
            include ~/pages/UI-kit/form-elements/like-button/like-button.pug
            .form-elements__like-buttons
              span.form-elements__like-buttons-heading='like button'
              .form-elements__like-buttons-group
                +like-button('like', 2, false)
                +like-button('likeEnabled', 12, true)
            include ~/pages/UI-kit/form-elements/rate-button/rate-button.pug
            .form-elements__rate-button
              span.form-elements__rate-button-heading='rate button'
              .form-elements__rate-button-group
                +rate-button('first-raiting', true)
                +rate-button('second-raiting')