mixin color(options)
  -
    const { color, name, hex, hasMargin } = options
    let colorClass = 'color'
    let colorImg = 'color__img'

    if (hasMargin) {
      colorClass += ' color--with-margin'
    }

    if (color) {
      colorImg += ` color__${color}`
    }

  div(class=colorClass)
    div(class=colorImg)
    .color__description
      p.color__name=name
      p.color__hex=hex
