mixin radio-button(hasHeading, firstId, firstValue, firstLabelInfo, secondId, secondValue, secondLabelInfo, heading)
  if (hasHeading)
    block radio-button
    .radio-button 
      span.radio-button__heading=heading
      .radio-button__container 
        .radio-button__group
          input(type='radio', name='sex', id=firstId, value=firstValue, checked).radio
          label(for=firstId).label-radio
            span.label-radio__text=firstLabelInfo
        .radio-button__group
          input(type='radio', name='sex', id=secondId, value=secondValue).radio
          label(for=secondId).label-radio
            span.label-radio__text=secondLabelInfo
  else 
    block radio-button
    .radio-button 
      .radio-button__container 
        input(type='radio', name='sex', id=firstId, value=firstValue).radio
        label(for=id).label-radio.radio-button__label-radio
          span.label-radio__text=firstLabelInfo
        input(type='radio', name='sex', id=secondId, value=secondValue).radio
        label(for=id).label-radio
          span.label-radio__text=secondLabelInfo
      