mixin radio-button(firstId, firstValue, firstLabelInfo, secondId, secondValue, secondLabelInfo, checked)
  if (checked)
    block radio-button
    .radio-button 
      .radio-button__group
        input(type='radio', name='sex', id=firstId, value=firstValue, checked).radio-button__input
        label(for=firstId).radio-button__label=firstLabelInfo
      .radio-button__group
        input(type='radio', name='sex', id=secondId, value=secondValue).radio-button__input
        label(for=secondId).radio-button__label=secondLabelInfo
  else 
    block radio-button
    .radio-button 
      .radio-button__group 
        input(type='radio', name='sex', id=firstId, value=firstValue).radio-button__input
        label(for=firstId).radio-button__label=firstLabelInfo
      .radio-button__group 
        input(type='radio', name='sex', id=secondId, value=secondValue).radio-button__input
        label(for=secondId).radio-button__label=secondLabelInfo
      