-
  let radioButtonSettings = [
    {firstId: 'man', firstValue: 'Мужчина', firstLabelText: 'Мужчина', secondId: 'woman', secondValue: 'Женщина', secondLabelText: 'Женщина'}
  ]

mixin radioButton(radioButtonSettings)
  .radio-button 
    .radio-button__group
      input(type='radio', name='sex', id=radioButtonSettings.firstId, value=radioButtonSettings.firstValue, checked).radio-button__input
      label(for=radioButtonSettings.firstId).radio-button__label=radioButtonSettings.firstLabelText
    .radio-button__group
      input(type='radio', name='sex', id=radioButtonSettings.secondId, value=radioButtonSettings.secondValue).radio-button__input
      label(for=radioButtonSettings.secondId).radio-button__label=radioButtonSettings.secondLabelText
      