mixin radioButtons(options)
  -
    const { items } = options

  .radio-buttons
    ul.radio-buttons__list
      each item in items 
        -
          const { text, name, value, isChecked } = item
          let radioButtonClass = 'radio-buttons__item'
          let radioButtonInputClass = 'radio-buttons__item-input'
          let radioButtonLabelClass = 'radio-buttons__item-label'
      
        li(class=radioButtonClass)
          label(class=radioButtonLabelClass)
            input(class=radioButtonInputClass type='radio' name=name value=value checked=isChecked)
            span.radio-buttons__item-text=text
      