mixin logo(options)
  -
    const { active, posAbsolute, link } = options
    
    let logoClass = 'logo'

    if (posAbsolute) {
      logoClass += ' logo--pos-absolute'
    }

    if (active) {
      logoClass += ' logo--active'
    }

  if (active)
    div(class=logoClass)
      a(class='logo__link' href=link)
        img(class='logo__img' src=require('~/templates/UI-kit/logo/img/logo-active.svg') alt='Лого')
  else 
    div(class=logoClass)
      img(src=require('~/templates/UI-kit/logo/img/logo-inactive.svg') alt='Лого')