mixin checkbox-button(hasHeading, heading, id, labelInfo, checked, name)
  if (hasHeading)
    block checkbox-button
    .checkbox-button
      span.checkbox-button__heading=heading
      .checkbox-button__container
        input(type='checkbox', name=name, id=id).checkbox
        label(for=id).label
          span.label__text=labelInfo
  else if (!hasHeading && checked)
    block checkbox-button
    .checkbox-button
      .checkbox-button__container
        input(type='checkbox', name=name, id=id, checked).checkbox
        label(for=id).label
          span.label__text=labelInfo
  else
    block checkbox-button
    .checkbox-button
      .checkbox-button__container
        input(type='checkbox', name=name, id=id).checkbox
        label(for=id).label
          span.label__text=labelInfo