mixin checkbox-button(id, labelInfo, checked, name)
  if (checked)
    block checkbox-button
    .checkbox-button
      .checkbox-button__container
        input(type='checkbox', name=name, id=id, checked).checkbox-button__input
        label(for=id).checkbox-button__label
          span.label-checkbox__text=labelInfo
  else
    block checkbox-button
    .checkbox-button
      .checkbox-button__container
        input(type='checkbox', name=name, id=id).checkbox-button__input
        label(for=id).checkbox-button__label
          span.label-checkbox__text=labelInfo