include ~/templates/UI-kit/text/text

mixin checkboxButtons({ expandable, checkboxButtons, wideCheckboxButtons, classForJs, title, items })
  -
    let checkboxClass = 'checkbox'

    if (classForJs) {
      checkboxClass += ` ${classForJs}`
    }

  div(class=checkboxClass)
    if (expandable)
      -
        let checkboxHeadingButton = 'checkbox-heading__button' + ' material-icons'

      .checkbox-heading.checkbox__heading
        +text({ text: title, type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
        button(class=checkboxHeadingButton, type='button')='expand_more'
    if (checkboxButtons)
      ul.checkbox-buttons
        each item in items 
          -
            const { text, description, textBold, color, name, isChecked } = item
            let checkboxItemClass = 'checkbox-button' + ' checkbox-buttons__item'
            let checkboxItemInputClass = 'checkbox-button__input'
            let checkboxItemLabelClass = 'checkbox-button__label'
            let checkboxItemDescriptionClass = 'checkbox-button__description' + ' text--with-type-h3'
            let checkboxItemText = 'checkbox-button__span'

            if (wideCheckboxButtons) {
              checkboxItemClass += ' checkbox-button--wide'
            }

            if (textBold) {
              checkboxItemText += ' text--bold'
            }

            if (color) {
              checkboxItemText += ` text--${color}`
            }

            if (description) {
              checkboxItemClass += ' checkbox-button__rich-item'
            }
        
          li(class=checkboxItemClass)
            label(class=checkboxItemLabelClass)
              input(class=checkboxItemInputClass, type='checkbox', name=name, checked=isChecked)
              span(class=checkboxItemText)=text
              if (description)
                span(class=checkboxItemDescriptionClass)=description