include ~/templates/UI-kit/text/text

mixin checkboxList(options)
  -
    const { expandable, emptyCheckboxList, wideCheckboxItems, classForJs, title, items } = options
    let checkboxClass = 'checkbox-list'
    let checkboxHeadingClass = 'checkbox-list__heading'

    if (expandable) {
      checkboxHeadingClass += ' checkbox-list__heading--with-button'
    }

    if (classForJs) {
      checkboxClass += ` ${classForJs}`
    }

  div(class=checkboxClass)
    if (expandable)
      .checkbox-list__expandable-heading
        +text({ text: title, type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
        button(class='checkbox-list__expandable-heading-button material-icons' type='button')='expand_more'
    else
      .checkbox-list__heading
        +text({ text: title, type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })

    if (!emptyCheckboxList)
      ul.checkbox-list__list
        each item in items 
          -
            const { text, description, textBold, color, name, isChecked } = item
            let checkboxItemClass = 'checkbox-list__item'
            let checkboxItemInputClass = 'checkbox-list__item-input'
            let checkboxItemLabelClass = 'checkbox-list__item-label'
            let checkboxItemText = 'checkbox-list__item-text'

            if (wideCheckboxItems) {
              checkboxItemClass += ' checkbox-list__item--wide'
            }

            if (textBold) {
              checkboxItemText += ' text--bold'
            }

            if (color) {
              checkboxItemText += ` text--${color}`
            }

            if (description) {
              checkboxItemClass += ' checkbox-list__rich-item'
            }
        
          li(class=checkboxItemClass)
            label(class=checkboxItemLabelClass)
              input(class=checkboxItemInputClass type='checkbox' name=name checked=isChecked)
              span(class=checkboxItemText)=text
              if (description)
                span(class='checkbox-list__item-description text--with-type-h3')=description