mixin radioButtons({ items })
  ul.radio-buttons
    each item in items 
      -
        const { text, name, value, isChecked } = item
        let radioClass = 'radio-button' + ' radio-button__item'
        let radioInputClass = 'radio-button__input'
        let radioLabelClass = 'radio-button__label'
    
      li(class=radioClass)
        label(class=radioLabelClass)
          input(class=radioInputClass, type='radio', name=name, value=value, checked=isChecked)
          span.radio-button__span=text
      