include ~/components/like-button/like-button

mixin comments( commentsList=[] )
  .comments
    each comment in commentsList
      -
        const {
          imgName,
          name,
          dateOfComment,
          text,
          likeCount,
          likeIsActive
        } = comment

      .comment.comments__comment
        .comment__header
          .comment__avatar-wrapper
            img(class='comment__avatar' src=require(`@pages/room-details/img/avatars/${imgName}`) alt='avatar')
          .comment__info
            p.comment__name=name
            p.pcomment__date-of-comment=dateOfComment
        .comment__body
          .comment__like-wrapper
            +likeButton({ count: likeCount, isActive: likeIsActive })
          .comment__text-wrapper
            span.comment__text=text
