mixin button(options)
  -
    const { text, type, variant, disabled, classForJs, isLink, link, size } = options

    let buttonContainerClass = 'button'
    let buttonClass = 'button__button'
    let typeButton = type ? type : 'button'

    const variants = ['border', 'text', 'with-arrow']
    const sizeModifiers = ['large', 'medium', 'small']

    if (variants.includes(variant)) {
      buttonClass += ` button__button--variant-${variant}`
      buttonContainerClass += ` button--variant-${variant}`
    }

    if (sizeModifiers.includes(size)) {
      if (variant === 'border') {
        buttonClass += ` button__button--variant-border-size-${size}`
        buttonContainerClass += ` button--variant-border-size-${size}`
      } else {
        buttonClass += ` button__button--size-${size}`
        buttonContainerClass += ` button--size-${size}`
      }
    }

    if (disabled) {
      buttonClass += ' button__button--disabled'
      buttonContainerClass += ' button--disabled'
    }

    if (variant === 'text' && disabled) {
      buttonClass += ' button__button--variant-text-disabled'
      buttonContainerClass += ' button--variant-text-disabled'
    }

    if (classForJs) {
      buttonClass += ` ${classForJs}`
    }
    
  div(class=buttonContainerClass)
    if (isLink)
      a(href=link class=buttonClass)=text
    else 
      button(class=buttonClass type=typeButton disabled=disabled)=text 