mixin toggle-button(id, labelInfo, checked, name)
  if (checked)
    block toggle-button 
    .toggle-button
      input(type='checkbox', name=name, id=id, checked).toggle-button__input
      label(for=id).toggle-button__label=labelInfo
  else 
    block toggle-button
    .toggle-button
      input(type='checkbox', name=name, id=id).toggle-button__input
      label(for=id).toggle-button__label=labelInfo