-
  let toggleButtonSettings = [
    {id: 'specialOfferEnabled', labelText: 'Получать спецпредложения', checked: true},
    {id: 'specialOfferDisabled', labelText: 'Получать спецпредложения'}
  ]

mixin toggleButton(toggleButtonSettings)
  if (toggleButtonSettings.checked)
    .toggle-button
      input(type='checkbox', name=toggleButtonSettings.name, id=toggleButtonSettings.id, checked).toggle-button__input
      label(for=toggleButtonSettings.id).toggle-button__label=toggleButtonSettings.labelText
  else 
    .toggle-button
      input(type='checkbox', name=toggleButtonSettings.name, id=toggleButtonSettings.id).toggle-button__input
      label(for=toggleButtonSettings.id).toggle-button__label=toggleButtonSettings.labelText