include ~/components/text/text
include ~/components/star-rating/star-rating
include ~/libs/swiper/swiper

mixin room-card(options = {})
  -
    const {
      number,
      price,
      reviews = {},
      rating = 0,
      imgs = [],
      luxe = false
    } = options

  .room-card
    .room-card__container
      .room-card__slider
        +slider({ images: imgs })
      .room-card__info
        .room-card__main-info
          .room-card__number
            h2.room-card__number-text
              span.room-card__number-symbol='№'
              span.room-card__number-value=number
            if (luxe)
              +text({ text: 'люкс', type: 'h3', color: 'purple', bold: true, hasUpper: true })
          .room-card__price
            span.room-card__price-value=price
            span.room-card__price-text='в сутки'
        .room-card__additional-info
          .room-card__rating
            +star-rating(rating)
          .room-card__reviews
            span.room-card__reviews-value=reviews.count
            span.room-card__reviews-text=reviews.text
