include ~/components/menu/menu

-
  const title = 'Toxin start-page'
  const description = 'Toxin start-page description'
  const keywords = 'Toxin start-page keywords'
  const faviconPaths = {
    apple: 'static/favicon/active/apple-touch-icon.png',
    big: 'static/favicon/active/favicon-32x32.png',
    small: 'static/favicon/active/favicon-16x16.png',
    manifest: `static/favicon/active/site.webmanifest`,
    pinned: 'static/favicon/active/safari-pinned-tab.svg',
  }

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    meta(name="msapplication-TileColor", content="#00aba9")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")
    link(rel="apple-touch-icon", sizes="180x180", href=faviconPaths.apple)
    link(rel="icon", type="image/png", sizes="32x32", href=faviconPaths.big)
    link(rel="icon", type="image/png", sizes="16x16", href=faviconPaths.small)
    link(rel="manifest", href=faviconPaths.manifest)
    link(rel="mask-icon", href=faviconPaths.pinned, color="#5bbad5")
    title #{title}
  body
    main.start-page
      .start-page__container 
        .start-page__logo 
          a.start-page__logo-link(href='./landing-page.html')
            img&attributes({
              class: 'start-page__logo-img',
              src: require('@pages/start-page/img/start-page-logo.svg'),
              alt: 'logo',
            })
        .start-page__UI-kit-menu
          h2.start-page__heading='UI kit'
          +menu({
            items: [
              { text: 'colors-types', link: './colors-type.html' },
              { text: 'form-elements', link: './form-elements.html' },
              { text: 'cards', link: './cards.html' },
              { text: 'headers-footers', link: './headers-footers.html' },
            ]
          })
        .start-page__site-menu
          h2.start-page__heading='Pages'
          +menu({
            items: [
              { text: 'landing-page', link: './landing-page.html' },
              { text: 'search-room', link: './search-room.html' },
              { text: 'room-details', link: './room-details.html' },
              { text: 'registration', link: './registration.html' },
              { text: 'sign-in', link: './sign-in.html' },
            ]
          })
    