include ~/components/text/text

mixin textField(options)
  -
    const { type, placeholder, hasTitle, title, subtitle, name, value, state, withButton, classForJs } = options

    let inputClass = 'text-field__input text-field__input--focused text-field__input--hovered'
    let buttonClass = 'text-field__button material-icons'

    if (state === 'default') {
      inputClass = 'text-field__input'
    }

    if (state === 'permamentFocused') {
      inputClass = 'text-field__input text-field__input--permament-focused'
    }

    if (withButton) {
      inputClass += ' text-field__input--with-button'
    }

    if (classForJs) {
      inputClass += ` ${classForJs}`
    }

  .text-field
    if (hasTitle)
      .text-field__title
        +text({ text: title, type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
        +text({ text: subtitle, type: 'h3', color: 'dark-shade-50', hasUpper: true })
    .text-field__wrapper
      input(class=inputClass type=type name=name placeholder=placeholder value=value)
      if (withButton)
        button(class=buttonClass type='submit')='arrow_forward'
