mixin slider({ images = [], options = {} } = {})
  -
    const { pagination = true, navigation = true } = options

  .swiper.slider.js-slider
    .swiper-wrapper.slider-wrapper
      each image in images
        .swiper-slide.slider__slide
          a.slider__link(href='./room-details.html')
            img.slider__img(
              src=require(`~/pages/search-room/img/${image}`)
              alt='room-photo'
            )
    if (pagination)
      .swiper-pagination.slider__pagination
    if (navigation)
      .swiper-button-prev.slider__button.material-icons='expand_more'
      .swiper-button-next.slider__button.material-icons='expand_more'
