mixin button(options)
  -
    const { text, type, withBackground, withBorder, withArrow, disabled, classForJs, isLink, link, size, smallHeight, variant } = options

    let buttonContainerClass = 'button'
    let buttonClass = 'button__button' + ' text--with-type-h3'
    let typeButton = type ? type : 'button'

    const variants = ['border', 'text', 'with-arrow']
    const sizeModifiers = ['large', 'medium', 'small']

    if (variants.includes(variant)) {
      buttonClass += ` button__button--variant-${variant}`
      buttonContainerClass += ` button--variant-${variant}`
    }

    if (sizeModifiers.includes(size)) {
      if (variant === 'border') {
        buttonClass += ` button__button--variant-border-size-${size}`
        buttonContainerClass += ` button--variant-border-size-${size}`
      } else {
        buttonClass += ` button__button--size-${size}`
        buttonContainerClass += ` button--size-${size}`
      }
    }

    if (disabled) {
      buttonClass += ' button__button--disabled'
      buttonContainerClass += ' button--disabled'
    }

    if (variant === 'text' && disabled) {
      buttonClass += ' button__button--disabled-variant-text'
      buttonContainerClass += ' button--disabled-variant-text'
    }

    //- if (!withBackground && !withBorder && disabled && !withArrow) {
    //-   buttonClass += ' button__button--disabled'
    //-   buttonContainerClass += ' button--width-auto'
    //- }

    //- if (!withBackground && !withBorder && !disabled && !withArrow) {
    //-   buttonClass += ' button__button--hovered'
    //-   buttonContainerClass += ' button--width-auto'
    //- }

    //- if (withBackground) {
    //-   buttonClass += ' button__button--with-background'
    //-   buttonContainerClass += ' button--with-background'
    //- }

    //- if (withBackground && disabled) {
    //-   buttonClass += ' button__button--with-background-disabled'
    //-   buttonContainerClass += ' button--with-background-disabled'
    //- }

    //- if (withBackground && smallHeight) {
    //-   buttonClass += ' button__button--with-background-height-small'
    //- }

    //- if (withBorder) {
    //-   buttonClass += ' button__button--with-border'
    //-   buttonContainerClass += ' button--with-border'
    //- }

    //- if (withBorder && disabled) {
    //-   buttonClass += ' button__button--with-border-disabled'
    //-   buttonContainerClass += ' button--with-border-disabled'
    //- }

    //- if (withBorder && smallHeight) {
    //-   buttonClass += ' button__button--with-border-height-small'
    //- }

    //- if (withBorder && widthSize === 'small') {
    //-   buttonClass += ' button__button--with-border-width-small'
    //- }

    //- if (withArrow) {
    //-   buttonClass += ' button__button--with-arrow'
    //-   buttonContainerClass += ' button--width-large' + ' button--with-arrow'
    //- }

    if (classForJs) {
      buttonClass += ` ${classForJs}`
    }
    
  div(class=buttonContainerClass)
    if (isLink)
      a(href=link, class=buttonClass)=text
    else 
      button(class=buttonClass, type=typeButton, disabled=disabled)=text 