include ~/templates/UI-kit/text/text

mixin rangeSlider({ text, sliderIdForJs, priceIdForJs })
  -
    let rangeSliderClass = 'range-slider'
    let sliderClass = 'range-slider__slider'
    let rangeSliderSubtitleClass = 'range-slider__subtitle' + ' text--with-type-h3'

  div(class=rangeSliderClass)
    .range-slider__heading
      +text({ text: text, type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
      span(class=rangeSliderSubtitleClass id=priceIdForJs)
    .rangle-slider__wrap 
      div(class=sliderClass, id=sliderIdForJs)