mixin rangeSlider({ sliderIdForJs, priceIdForJs })
  -
    let rangeSliderClass = 'range-slider'
    let sliderClass = 'range-slider__slider'
    let rangeSliderSubtitleClass = 'range-slider__subtitle'

  div(class=rangeSliderClass)
    .range-slider__heading
      block
      span(class=rangeSliderSubtitleClass id=priceIdForJs)
    .rangle-slider__wrap 
      div(class=sliderClass, id=sliderIdForJs)